body{
    background-color: white;
    color: black;
    transition: background-color 0.50s;
    
}
#text{
    text-align: center;
    font-size: 10em;
    font-family: sans-serif;
}
#counterBtn{
    text-align: center;
}
.btn{
    padding: 25px 50px;
    border-radius: 10cap;
    font-size: larger;
    cursor: pointer;
    background-color: lime;;
}
.btn:hover{
    background-color: limegreen;
    transition: background-color 0.25s;
}
.dark-mode {
    background-color: black;
    color: white;
    transition: background-color 0.50s;
}
